<footer class="j_footer">
    <div class="j_footer_background">
        <div class="j_footer_img">
            <img src="../../../../resources/static/images/logo/IndieFliker.png" width="70px" height="70px">
            <div class="j_footer_logo_text">
                IndieFliker
            </div>
        </div>

        <ul class="j_footer_ul">
            <li>© 2023. Group 4 IndieFliker</li>
            <li>JeongYusu | NamEunHye | ParkNamGyu | KimHayul | LeeSara</li>
            <li>All rights reserved.</li>
        </ul>
    </div>
</footer>
</body>
</html>