<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../../resources/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<header class="j_header">
    <nav class="j_nav">
        <div class="j_nav_left">
            <div id="j_logo">
                <a href="#">
                    <img class="j_logo" src="../../../../resources/static/images/logo/IndieFliker.png" alt="로고">
                </a>
                <a class="j_logo_text_padding" href="#">
                <span class="j_logo_text">IndieFliker</span>
                </a>

            </div>
            <div id="j_nav_menu">
                <ul class="j_nav_menu_ul">
                    <li><a href="#">영화목록</a></li>
                    <li><a href="#">펀딩+</a></li>
                    <li><a href="#">영화예매</a></li>
                    <li><a href="#">채팅방</a></li>
                    <li><a href="#">더보기</a></li>
                </ul>
            </div>
        </div>
        <div class="j_nav_right">
            <div class="j_search_form">
                <form id="search-form" action="/" method="get">
                    <div class="j_search_area">
                        <input class="j_text_area" type="text" name="search" placeholder="새로운 영화가 필요하신가요?">
                        <button class="j_search_magnifier" type="submit">
                            <img src="../../../../resources/static/images/icons/magnifier.png" alt="돋보기">
                        </button>
                    </div>
                </form>
            </div>
            <div id="j_login_and_join">
                <ul class="j_nav_menu_thin_ul">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>