<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title>Title</title>
</head>
<body>
<header class="j_header">
    <nav class="j_nav">
        <div class="j_nav_left">
            <div id="j_logo">
                <a href="#">
                    <img class="j_logo" src="/static/images/logo/IndieFliker.png" alt="로고">
                </a>
                <a class="j_logo_text_padding" href="#">
                    <span class="j_logo_text">IndieFliker</span>
                </a>

            </div>
            <div id="j_nav_menu">
                <ul class="j_nav_menu_ul">
                    <li><a href="#">영화목록</a></li>
                    <li><a href="#">펀딩+</a></li>
                    <li><a href="#">영화예매</a></li>
                    <li><a href="#">채팅방</a></li>
                    <li><a href="#">더보기</a></li>
                </ul>
            </div>
        </div>
        <div class="j_nav_right">
            <div class="j_search_form">
                <form id="search-form" action="/" method="get">
                    <div class="j_search_area">
                        <input class="j_text_area" type="text" name="search" placeholder="새로운 영화가 필요하신가요?">
                        <button class="j_search_magnifier" type="submit">
                            <img src="/static/images/icons/magnifier.png" alt="돋보기">
                        </button>
                    </div>
                </form>
            </div>
            <div id="j_login_and_join">
                <ul class="j_nav_menu_thin_ul">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main></main>
    <footer class="j_footer">
        <div class="j_footer_background">
            <div class="j_footer_img">
                <img src="/static/images/logo/IndieFliker.png" width="70px" height="70px">
                <div class="j_footer_logo_text">
                    IndieFliker
                </div>
            </div>

            <ul class="j_footer_ul">
                <li>© 2023. Group 4 IndieFliker</li>
                <li>JeongYusu | NamEunHye | ParkNamGyu | KimHayul | LeeSara</li>
                <li>All rights reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>