@import url(common.css);
/*자주쓰는 css*/
.k_font_weight_bold {
    font-weight: bold;
}
button:active, button:focus {
    outline: none;

}
input:active, input:focus{
    outline: none;
}
/*로그인 페이지*/
.k_body {
    background-color: #ffffff;
}

.k_login {
    font-weight: bold;
    margin-top: 250px;
    font-size: 30px;
}

.k_login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.k_forget {
    margin-top: 15px;
    display: block;
    font-size: small;
    opacity: 0.7;
    text-align: right;
}


.k_no_id_aligin {
    text-align: center;
    margin-top: 50px;
}

.k_no_id {
    display: inline-block;
    font-weight: bold;
}

.k_join {
    display: inline-block;
    margin-left: 10px;
    color: #00c4c4;
    text-decoration-line: underline;
}

.k_email {
    margin-top: 30px;
    background-color: #e7f9f9;
    color: #00c4c4;
    border: none;
}

.k_email button {
    margin-top: 30px;
    background-color: #e7f9f9;
    color: #00c4c4;
    border: none;
    height: 50px;
}

.k_email button:hover,
.k_email button:active,
.k_email button:focus {
    background-color: #e7f9f9;
    color: #00c4c4;
    border: none;
    box-shadow: none;
    outline: none;
}

.k_kakao {
    margin-top: 10px;
}

.k_kakao-btn {
    background-image: url('../../../resources/static/images/icons/kakao_login_medium_wide.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    border: none;
    padding: 0;
}

.k_easyjoin {
    font-weight: bold;
    font-size: 25px;
}

.k_kakao-btn:hover {
    background-color: #ffd200;
}

/*회원가입 페이지*/


.k_login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
}

.k_join_bottom {
    margin-bottom: 15px;
}

.k_join_radius {
    border-radius: 5px;
}

.k_form-group {
    margin-top: 20px;
}

.k_form-group .k_input-group {
    display: flex;
}

.k_form-group .k_input-group input {
    flex: 1;
    margin-right: 5px;
}

.k_pwd_backcolor {
    background-color: #f6f6f6;;
}

.k_pwd_input_margin {
    margin-top: 10px;
}

.k_validation {
    background-color: #99e7e7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    width: 70px;
}

.k_complete {
    margin-top: 30px;
    background-color: #99e7e7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.k_complete button {
    background-color: #99e7e7;
    color: white;
    border: none;
    height: 50px;
}

.k_complete button:hover,
.k_complete button:active,
.k_complete button:focus {
    background-color: #99e7e7;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
}

.k_input {
    margin-top: 10px;
    border-radius: 5px;
}

.eyes {
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 5px;
    margin: auto 2px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.eyes2 {
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 780px; /* 위치 조정 */
    margin: auto 2px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

div.main {
    position: relative;
    padding: 20px;
}

div.main input {
    width: 300px;
    height: 30px;
    background-color: black;
    border: 0;
    color: white;
    text-indent: 10px;
}

div.main i {
    position: absolute;
    left: 75%;
    top: 27px;
    color: orange;
}

/* 간편 회원가입 페이지 */
.k_easyjoin_main {
    margin-top: 250px;

}

.k_s_info {
    font-weight: bold;

}

.k_easyjoin_font {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.k_easy_validation {
    background-color: #00c4c4;
    color: white;
    border: none;
    border-radius: 5px;
    height: 38px;
    font-size: 12px;
    width: 70px;
    margin-left: 5px;
}

.k_complete {
    margin-top: 30px;
    background-color: #99e7e7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.complete button {
    background-color: #00c4c4;
    color: white;
    border: none;
    height: 50px;
}

.complete button:hover,
.complete button:active,
.complete button:focus {
    background-color: #00c4c4;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
}

.k_change {
    border-radius: 5px;
    background-color: #f6f6f6;
}

.k_input {
    margin-top: 10px;
    border-radius: 5px;
}

.sub-text {
    opacity: 0.7;

}

.k_tel {
    font-weight: bold;

}

.k_input_name {
    margin-top: 10px;
}

/* 프로필 수정 페이지 */
.k_profile_main{
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
}
.k_profile_info_set{
    font-size: 20px;
    font-weight: bold;
}
.k_profile_pic{
    margin-top: 20px;
}
.k_profile_pic_set{
    border-radius: 50%;
    width: 30%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.k_profile_bttn{
    border: none;
    background-color: white;
    outline: none;
    margin-top: 20px;
    text-decoration: underline;
}
.k_profile_bttn_margin{
    margin-left: 36%;
}
.k_profile_first_container{
    margin-top: 10%;
}
.k_profile_nicknmae{
    margin-top: 10px;
    width: 100%;
    height: 35px;
}
.k_profile_tel_div{
    margin-top: 15px;
}
.k_profile_tel_input{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background-color: rgba(234, 234, 234, 0.58);
    border: 1px solid #ccc; /* 테두리 추가 */
    box-sizing: border-box; /* 테두리와 패딩 포함하여 요소 크기 계산 */
    padding: 5px; /* 내부 패딩 설정 */
}
.k_profile_password_div{
    margin-top: 20px;
}
.k_profile_bttns_margin{
    margin-top: 30px;
    display: flex;

}
.k_profile_bttn_cancle{
    width: 50%;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: grey;
}
.k_profile_bttn_ok{
    width: 50%;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: green;
    margin-left: 2%;
}

.k_profile_main img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*마이페이지*/
.k_left_my {
    margin-left: 10%;
    top: 200px;
    position: relative;
    text-align: center;
    margin-right: 1500px;
}

.k_left_my_hr {
    opacity: 0.3;
    margin-top: 20px;
    width: 50%;
}



.k_invite {
    margin-top: 15px;
    height: 80px;
    border-radius: 5px;
    background-color: #f9fafb;
    border: 1px solid rgb(192, 192, 192);
    width: 30%;
    width:300px;
}


.k_update_login-container {
    max-width: 1000px;
    margin: auto;
    margin-left: 500px;
    margin-top: -120px;
    height: 1000px;
}



.k_m_name {
    margin-top: 15px;
    font-weight: bold;
}

.k_m_button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.k_m_vip {
    margin-top: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    width: 80px;
    height: 30px;
    border: none;
}

.k_m_kakao {
    margin-top: 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.k_m_logout {
    display: block;
    margin-top: 15px;
    height: 40px;
    background-color: var(--def_wh);
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    border: 1px solid rgb(192, 192, 192);
    margin-left: 12px;
}

.k_couponpack,
.k_invite,
.k_invite-text {
    width: 100%;
    text-align: left;
}

.k_m_couponpack {
    background-color: var(--def_wh);
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    cursor: pointer;
}

.k_invite-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.k_invite {
    margin-top: 15px;
    height: 80px;
    border-radius: 5px;
    background-color: #f9fafb;
    border: 1px solid rgb(192, 192, 192);
    width: 30%;
}

.k_invite-text {
    margin-top: 15px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    margin-left: 20px;
}

.k_m_hr {
    opacity: 0.3;
}

.k_i_group {
    margin-top: 15px;
    height: 80px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    width: 70%;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.k_invite-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    position: relative; /* 상대 위치 지정 */
}

.k_invite-group:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 60px; /* 수직선의 높이 조절 */
    width: 1px; /* 수직선의 너비 조절 */
    background-color: rgb(204, 204, 204); /* 수직선 색상 지정 */
    right: -60px; /* 수직선 우측으로 이동하여 간격 조절 */
    top: -35%; /* 수직선의 상단 위치 조절 */

}

.k_see_movie {
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #a5e5e6;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.k_my_active,
.k_c_center {
    margin-top: 30px;
    font-weight: bold;
}

.k_like_list {
    margin-top: 20px;
    height: 35px;
    border: none;
    background-color: var(--def_wh);
    cursor: pointer;
}

.k_c_center_list {
    margin-top: 20px;
    height: 35px;
    border: none;
    background-color: var(--def_wh);
    cursor: pointer;
}

.k_c_center_list_set {
    height: 35px;
    border: none;
    background-color: var(--def_wh);
    cursor: pointer;
}

.k_c_center_second_list {
    margin-top: 20px;
    height: 35px;
    border: none;
    background-color: var(--def_wh);
    cursor: pointer;
    margin-left: 400px;
}

/* 마이페이지 (회워 탈퇴 모달) */
.k_isWithdrawal_modal {
    display: none; /* 모달 초기에는 숨김 상태 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 300px;
    height: 200px;
}

.k_isWithdrawal_modal h2{
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 25px;
}

.k_isWithdrawal_modal .close{
    bottom: 45px;
    position: absolute;
    left: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ea6161;
}

.k_isWithdrawal_modal button:hover{
    color:white;
}

.k_isWithdrawal_modal a{
    bottom: 45px;
    position: absolute;
    right: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #01DFD7;
    line-height: 48px;
    text-align: center;
}

.k_isWithdrawal_modal a:hover{
    color:white;
}

/* 모달 백그라운드 스타일 */
.k_isWithdrawal_modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은 배경 */
    z-index: 1;
}

/*자주 묻는 질문 페이지*/

.k_ask_container {
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
}

.k_ask_main {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 35px;
}

.k_search-container {
    display: flex;
    max-width: 400px;
    width: 100%;
    border: 2px solid var(--def_bl);
    border-radius: 4px;
    overflow: hidden;
}

.k_search-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.k_search-icon {
    height: 90%;
    width: 85%;
}

.k_search-button {
    padding: 10px;
    color: var(--def_wh);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    width: 10%;
}

.k_ask_hr {
    margin-top: 30px;
    opacity: 0.7;
}

.k_ask_s_container {
    max-width: 750px;
    margin: auto;
    margin-top: 30px;
}

.k_btn_group {
    position: relative;
    width: 100%;
    height: 50px;
}

.k_btn_group a{
    width: 143px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #8AF9CD;
    text-align: center;
    line-height: 50px;
}

.k_btn_group a:hover{
    background-color: #8AF9CD;
}

.k_question_a{
    border: none;
}
.k_btn {
    height: 35px;
    width: 70%;
    background-color: var(--def_wh);
    border: 2px solid var(--primary_01);
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
}

.k_btn:not(:last-child) {
    border-right: none;
}

.k_btn:hover,
.k_btn:active {
    background-color: var(--primary_01);
    color: var(--def_wh);
}

.k_a_btn-primary {
    height: 35px;
    width: 105%;
    background-color: var(--def_wh);
    border-color: var(--primary_01);
    box-shadow: none;
}

.k_a_btn_mem_button {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.k_a_btn_mem_vip {
    height: 35px;
    width: 105%;
    background-color: var(--def_wh);
    border-color: var(--primary_01);
    box-shadow: none;
}

.k_b_b_none {
    border-right: none;
}

.k_member_info {
    margin-top: 30px;
    color: var(--primary_01);
    font-weight: bold;
}

.k_member_how_info {
    margin-top: 7px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.k_clickMe {
    cursor: pointer;
    padding: 10px;
    background-color: var(--def_wh);
    color: var(--back_02);
    display: inline-block;
    margin: 10px;
}

.k_clickMeSymbol {
    margin-left: 450px;
    border: none;
    background-color: var(--def_wh);
    cursor: pointer;

}

.k_hiddenDiv {
    display: none;
    padding: 20px;
    background-color: var(--back_02);
    color: var(--def_wh);
    margin: 10px;
}

.k_a_l {
    margin-top: 15px;
}

.k_ask_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.k_ask_li {
    margin-right: 40px;
    opacity: 0.7;
}

.k_ask_a {

}

k_ask_s_container a{


}

/*공지 사항*/

.k_notice_hr {
    margin-top: 100px;
}

.k_notice_import {
    margin-top: 30px;
    color: var(--primary_01);
    font-weight: bold;
    margin-bottom: 10px;
}

.k_notice_service {

    font-weight: bold;
}

.k_notice_time {
    margin-top: 15px;
    opacity: 0.7;
    font-size: 12px;
}

.k_notice_s_hr {
    margin-top: 15px;
    opacity: 0.7;
}

/*공지 상세 보기*/

.k_notice_detail_container {
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
}

.k_notice_second_detail_container {
    display: flex;
}

.k_notice_detail_main {
    font-weight: bold;
    font-size: 20px;
}

.k_notice_profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 30px;
}

.k_notice_profile_text {
    margin-top: 35px;
    margin-left: 5px;
    opacity: 0.7;
}

.k_notice_profile_second_text {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 2px;

}

.k_notice_deatail_first_comment {
    margin-top: 50px;
    opacity: 0.8;
}

.k_notice_deatail_second_comment {
    margin-top: 70px;
}

.k_notice_detail_one {
    font-weight: bold;
    font-size: 25px;

}

.k_notice_detail_one_one {
    margin-top: 20px;
}

.k_notice_detail_import {
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.7;
}

.k_notice_detail_import_two {
    margin-top: 40px;
    font-weight: bold;
    opacity: 0.7;
}

.k_notice_deatail_li_one {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.6; /* 줄 간격 조정 */

    text-align: justify; /* 텍스트를 양쪽 맞춤으로 정렬 */
}

.k_notice_deatail_li_one p {
    line-height: 1.6; /* 줄 간격 조정 */
    margin-bottom: 20px; /* 아래 여백 추가 */
    text-align: justify; /* 텍스트를 양쪽 맞춤으로 정렬 */
}

.k_margin_left {
    margin-left: 14px;
}

.k_nd_margin_left {
    margin-left: 20px;
}

.k_nd_sub {
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
    font-size: 13px;
}

.k_nt_margin_top {
    margin-top: 100px;
}

.k_nd_global {
    margin-top: 100px;
}

.k_nd_thanks {
    margin-top: 40px;
}

.K_font_weight_bold {
    font-weight: bold;
}

.k_notice_detail_container {
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
}

.k_notice_detail_container .K_font_weight_bold {
    font-weight: bold;
}

.k_a_nt {
    color: blue;
}

/*펀딩 업로드*/

.k_funding_main {
    display: grid;
    place-items: center;
    margin-top: 30px;
}

.k_funding_upload {
    width: 800px;
    height: 100%;
    margin: 0;
}

.k_funding_upload_titles {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.k_funding_upload_first_title {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.k_funding_upload_pic_title {
    font-size: 16px;
    font-weight: 600;
    width: 34%;
}

.k_funding_upload_grade_title {
    font-size: 16px;
    font-weight: 600;
    width: 30%;
    margin-left: 35px;
}

.k_funding_upload_container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.k_funding_upload_fund_titles {
    padding-top: 10px;
    width: 162px;
    font-size: 16px;
    font-weight: 600;
}

.k_star_class {
    color: var(--point_04);
}

.k_funding_upload_picture {
    padding-right: 14px;
}

.k_funding_upload_picture input[type="file"] {
    display: none;
}

.k_funding_upload_select_option {
    height: 40px;
    width: 70%;
    font-size: 14px;
    padding: 0 10px;
    border-color: var(--line_01);
    border-radius: 5px;
}

.k_funding_upload_container_two {
    font-size: 14px;
    color: var(--font_01);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.k_funding_upload_container_two textarea {
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}

.k_funding_upload_movie_name {
    padding-left: 10px;
    width: 81%;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
}

.k_funding_upload_container_third {
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    margin-top: 3%;
}

.k_funding_upload_container_third #k_fund {
    display: flex;
}

.k_funding_upload_funding_date {
    opacity: 0.9;
    font-size: 12px;
    flex-direction: column;
    margin-top: 5px;
    color: var(--point_04);
}

.k_funding_upload_last_date, .k_funding_upload_first_date {
    margin-left: 2%;
    width: 130px;
    height: 40px;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
}

.k_funding_upload_schedule_date {
    margin-left: 2%;
    width: 130px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
}

.k_funding_upload_movie_schedule {
    margin-left: 30px;
    padding-top: 3px;
}

.k_funding_upload_container_three {
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
}

.k_funding_upload_direct_title {
    display: flex;
    width: 39%;
}

.k_margin_top {
    margin-top: 3%;
}

.k_funding_upload_middle_title {
    margin-bottom: 1%;
}

.k_funding_upload_sibnob {
    cursor: inherit;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
}

.k_funding_upload_select_photo_pic {
    background-color: var(--back_02);
    height: 100px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.k_funding_upload_select_photo_pic2 {
    background-color: var(--back_02);
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

}

.k_funding_thumbnail_style {
    width: 105px;
    height: 100px;
    border-radius: 5px;
}

.k_funding_movie_pic_style {
    width: 130px;
    height: 100px;
    border-radius: 5px;
}

.k_funding_movie_director_style {
    width: 110px;
    height: 100px;
    border-radius: 5px;
}



.k_funding_upload_label {
    display: none;
}

.k_funding_upload_container_four {
    max-width: 100%;
    display: flex;
    margin: 10px 0;
    height: 98px;

}

.k_funding_upload_select_photo_pic_receive {
    margin-right: 10px;
    background-color: var(--def_wh);
    border: 0.5px solid var(--line_01);
    height: 100px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
}

.k_funding_upload_head_Career {
    margin-left: 12%;
    width: 100%;

}

.k_funding_upload_career_input {
    margin-left: 5%;
    margin-right: 100px;
    width: 420px;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    margin-bottom: 10px;
}

.k_funding_upload_movie_year {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    margin-bottom: 10px;

}

.k_funding_upload_head_limit {
    width: 100%;
    opacity: 0.8;
    line-height: 1.4; /* 줄 간격 조정 */
    text-align: justify;
}

.k_funding_upload_pride {
    margin-bottom: 10px;
}

.k_funding_upload_career_input_two {
    width: 80%;
    height: 40px;
    margin-bottom: 2%;
    padding-left: 10px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
}


.k_funding_upload_career {
    margin-bottom: 2px;
    font-size: 14px;
    color: var(--font_02);
}

.k_funding_directer_career {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#k_table_staff {
    display: flex;
    padding: 0;
}

#k_table_staff p {
    font-size: 16px;
    font-weight: 600;
    width: 8%;
}

#k_table {
    border: 0.3px solid black;
    border-color: var(--line_01);
    width: 100%;
}

#k_table_body th {
    text-align: center;
    width: 20%;
    background-color: var(--back_02);
    font-size: 14px;
    border: 0.3px solid var(--line_01);
    height: 40px;
}

#k_table_body td {
    text-align: center;
    width: 30%;
    font-weight: normal;
    color: var(--font_03);
    font-size: 14px;
    border: 0.3px solid var(--line_01);
    height: 40px;

}

#k_table_body input {
    border: none;
    background-color: transparent;
    height: 20px;
}

.k_funding_save {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--def_wh);
    height: 60px;
    background-color: var(--font_01);
}

.k_plus_button {
    border: none;
    background-color: transparent;
    padding-right: 10px;
}

.k_minus_button {
    border: none;
    background-color: transparent;
}

.k_minus_img {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.k_padding_right70 {
    padding-right: 70px;
    white-space: nowrap; /* 글자가 넘칠 경우 줄바꿈 방지 */

}

.k_padding_bottom5{
    padding-bottom: 5px;
}

.k_margin_bottom10{
    padding-bottom: 10px;
}

.k_cm_margin_top43 {
    margin-top: 43px;
}

.k_career_movie_style {
    width: 100%;
}

.k_funding_upload_career_input:focus::placeholder {
    color: transparent;
}

.k_funding_upload_movie_year:focus::placeholder {
    color: transparent;
}

.k_funding_awards_movie_input {
    padding-left: 10px;
    margin-right: 70px;
    width: 570px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    border: 0.5px solid var(--line_01);
    margin-bottom: 10px;
}

.k_funding_genre_container {
    max-width: 100%;
    display: flex;
    margin-top: 3%;
}

.k_funding_genre_select_option {
    height: 40px;
    width: 20%;
    font-size: 14px;
    padding: 0 10px;
    border-color: var(--line_01);
    border-radius: 5px;
}

.k_funding_genre_grade_title {
    font-size: 16px;
    font-weight: 600;
    width: 19%;
    margin-top: 5px;
}

.k_funding_make_year {
    font-size: 16px;
    font-weight: 600;
    width: 14%;
    margin-top: 5px;
}

.k_text_no_wrap {
    white-space: nowrap; /* 글자가 넘칠 경우 줄바꿈 방지 */
    padding-top: 3px;

}

.k_custom_select_option {
    margin-left: 34px;
    height: 40px;
    width: 82%;
    font-size: 14px;
    padding: 0 10px;
    border-color: var(--line_01);
    border-radius: 5px;
}

.k_margin_top55{
    margin-top: 55px;
}

.k_margin_production{
    padding-left: 10px;
    margin-left: 25%;
    margin-top: 30px;
}

.k_funding_pic_title {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    margin-right: 37px;
}

.k_custom_margin {
    margin-left: 30%;
}
.pic_wrap {
    display: flex;
}

.grade_wrap {
    display: flex;
}

.k_margin_production:focus::placeholder {
    color: transparent;
}

.k_funding_make_year:focus::placeholder {
    color: transparent;
}

#k_place_holder:focus::placeholder {
    color: transparent;
}

.k_funding_awards_movie_input:focus::placeholder {
    color: transparent;
}

.k_custom_flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.k_background_color {
    background-color: var(--back_02);
}

.k_custom_button {
    border: none;
    background: transparent;
    color: var(--def_wh);
}

.k_custom_gif {
    margin-top: 10px;
    width: 50px;
    height: 100px;
    margin-bottom: 10px;
    pointer-events: none;
}

.k_custom_gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.k_search-input:focus::placeholder {
    color: transparent;
}