@import url(common.css);

/* 수정 완 2 */
*{
    margin: 0; padding: 0;
}

/* 관리자 페이지 메인 */
/*--------------------------------------*/
/* 탑 시작 */
.p_top{
    /* background-color: beige; */
    position: relative;
    width: 100%;
    height: 100px;
}

.p_top .p_title{
    position: absolute;
    /* background-color: #E6E6E6; */
    width: 200px;
    height: 70px;
    text-align: center;
    line-height: 65px;
    top: 15px;
    left: 15px;
}

.p_top .p_title h2{
    position: absolute;
    top: 25px;
    left: 25px;
    color: #424242
}

.p_top .p_title .p_line{
    background-color: #E6E6E6;
    position: absolute;
    width: 200px;
    height: 1px;
    top: 10px;
}

.p_top .p_search{
    /* background-color: aquamarine; */
    position: absolute;
    top: 30px;
    left: 430px;
    width: 500px;
    height: 60px;
    text-align: center;
    line-height: 65px;
    border: 2px solid #424242;
    border-radius: 10px;
}

.p_top .p_search i{
    position: absolute;
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #424242;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
}

.p_top .p_search input{
    position: absolute;
    width: 440px;
    height: 50px;
    top: 3px;
    left: 50px;
    border: none;
    outline: none;
}

.p_main .p_top .p_inform{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 50px;
    height: 50px;
}

.p_top .p_inform a{
    top: 50px;
    right: 120px;
    content: "\f0f3";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #424242;
    transition-duration: 0.5;
}

.p_top .p_inform a:hover{
    color: #01DFD7;
}

/*--------------------------------------*/
/* 탑 끝 */


/* 컨테이너1 시작 */
/*--------------------------------------*/
.p_container1{
    /* background-color: bisque; */
    position: absolute;
    height: 100%;
    top: 100px;
}

/* 섹션1 시작 */
.p_container1 .p_section1{
    /* background-color: #FE2E64; */
    margin-bottom: 30px;
    width: 250px;
    height: 50px;

}

.p_container1 .p_section1 .p_dashboard{
    position: absolute;
    background-color: #424242;
    right: 35px;
    top: 0px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

.p_container1 .p_section1 i{
    position: absolute;
    top: 13px;
    left: 20px;
    content: "\f009";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    color: #01DFD7;
}

.p_container1 .p_section1 a{
    position: absolute;
    top: 11px;
    left: 68px;
    font-size: 18px;
    text-decoration: none;
    color: #01DFD7;
    transition-duration: 0.2s;
}

.p_container1 .p_section1 a:hover{
    color:white;
}

/* 섹션1 끝 */

/* 섹션2 시작 */
.p_container1 .p_section2{
    /* background-color: #F6CED8; */
    width: 100%;
    height: 150px;
}
        
.p_container1 .p_section2 h3{
    margin-left: 15px;
    font-size: 12px;
}

.p_container1 .p_section2 ul{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    list-style: none;
}

.p_container1 .p_section2 .p_icon1{
    content: "\e131";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section2 .p_icon2{
    content: "\f201";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section2 .p_icon3{
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section2 a{
    margin-left: 10px;
    color:#424242;
    transition-duration: 0.2s;
}

.p_container1 .p_section2 a:hover{
   text-decoration: none;
   color: #01DFD7;
}

.p_container1 .p_section2 ul li{
    margin-top: 15px;
}

.p_container1 .p_section2 .p_line{
    background-color: #E6E6E6;
    width: 230px;
    height: 1px;
    top: 20px;
}
/* 섹션2 끝 */

/* 섹션3 시작 */
.p_container1 .p_section3{
    /* background-color: #F5A9F2; */
    position: relative;
    width: 100%;
    height: 150px;
    top: 15px;
}

.p_container1 .p_section3 h3{
    margin-left: 15px;
    font-size: 12px;
}

.p_container1 .p_section3 ul{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    list-style: none;
}

.p_container1 .p_section3 ul li{
    margin-top: 15px;
}

.p_container1 .p_section3 a{
    margin-left: 10px;
    color: #424242;
    transition-duration: 0.2s;
}

.p_container1 .p_section3 a:hover{
    text-decoration: none;
    color: #01DFD7;
}

.p_container1 .p_section3 .p_icon1{
    content: "\f3ff";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section3 .p_icon2{
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section3 .p_icon3{
    content: "\f500";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section3 .p_line{
    background-color: #E6E6E6;
    width: 230px;
    height: 1px;
    top: 20px;
}
/* 섹션3 끝 */

/* 섹션4 시작 */
.p_container1 .p_section4{
    /* background-color: #A9A9F5; */
    position: relative;
    width: 100%;
    height: 150px;
    top: 35px;
}

.p_container1 .p_section4 h3{
    margin-left: 15px;
    font-size: 12px;
}

.p_container1 .p_section4 ul{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    list-style: none;
}

.p_container1 .p_section4 ul li{
    margin-top: 15px;
}

.p_container1 .p_section4 a{
    margin-left: 10px;
    color: #424242;
    transition-duration: 0.2s;
}

.p_container1 .p_section4 a:hover{
    text-decoration: none;
    color: #01DFD7;
}

.p_container1 .p_section4 .p_icon1{
    content: "\f500";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section4 .p_icon2{
    content: "\f075";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section4 .p_icon3{
    content: "\f249";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section4 .p_line{
    background-color: #E6E6E6;
    width: 230px;
    height: 1px;
    top: 20px;
}
/* 섹션4 끝 */

/* 섹션5 시작 */
.p_container1 .p_section5{
    /* background-color: #A9F5D0; */
    width: 100%;
    height: 50px;
    margin-top: 150px;
    margin-left: 10px;
}

.p_container1 .p_section5 i{
    position: relative;
    top: 1px;
    margin-left: 35px;
    content: "\f013";
    font-family: "Font Awesome 5 Free";
    color: #424242;
}

.p_container1 .p_section5 a{
    font-size: 12px;
    margin-left: 5px;
    color: #424242;
    transition-duration: 0.2s;
}

.p_container1 .p_section5 a:hover{
    text-decoration: none;
    color: #01DFD7;
}

/* 섹션5 끝 */
/*--------------------------------------*/
/* 컨테이너1 끝 */


/* 컨테이너2 시작 */
/*--------------------------------------*/
.p_container2{
    /* background-color: aqua; */
    position: relative;
    width: 1400px;
    height: 380px;
    top: 0px;
    left: 350px;
}

/* 섹션1 시작 */
.p_container2 .p_section1{
    /* background-color: beige; */
    position: absolute;
    width: 450px;
    height: 240px;
    left: 50px;
    top: 50px;
}

.p_container2 .p_section1 i{
    position: absolute;
    content: "\e533";
    font-family: "Font Awesome 5 Free";
    margin-top: 3px;
    margin-right: 10px;
    font-size: 30px;
    color: #424242;
    top: 47px;
    left: 2px;
}

.p_container2 .p_section1 .p_menu1{
    /* background-color: bisque; */
    position: absolute;
    top: 0px;
    width: 200px;
    height: 100%;
}

.p_container2 .p_section1 .p_menu1 i{
    /* background-color: aqua; */
    position: absolute;
    top: 50px;
}

.p_container2 .p_section1 .p_menu1 h3{
    /* background-color: aquamarine; */
    position: absolute;
    left: 50px;
    top: 50px;
}

.p_container2 .p_section1 .p_menu1 p{
    position: absolute;
    top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.p_container2 .p_section1 .p_menu1 span{
    position: absolute;
    top: 150px;
    color: #01DFD7;
}

.p_container2 .p_section1 .p_menu2{
    /* background-color: blueviolet; */
    position: absolute;
    width: 180px;
    height: 150px;
    top: 80px;
    right: 0px;
}

.p_container2 .p_section1 .p_menu2 progress{
    width: 180px;
    height: 70px;
    position: absolute;
    top: 20px;
}

.p_container2 .p_section1 .p_menu2 span{
    position: absolute;
    right: 10px;
    bottom: 40px;
    font-size: 25px;
}

/* 섹션1 끝 */

/* 섹션2 시작 */
.p_container2 .p_section2{
    /* background-color: blanchedalmond; */
    position: absolute;
    width: 700px;
    height: 350px;
    right: 50px;
    top: -10px;
}

.p_container2 .p_section2 .p_menu1{
    /* background-color: aqua; */
    position: absolute;
    width: 200px;
    height: 40px;
}

.p_container2 .p_section2 .p_menu1 h3{
    position: absolute;
    left: 0px;
}

.p_container2 .p_section2 .p_menu2{
    /* background-color: aqua; */
    position: absolute;
    width: 50px;
    height: 30px;
    top: 5px;
    right: 50px;
}

.p_container2 .p_section2 .p_menu2 a{
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.p_container2 .p_section2 .p_menu2 a:hover{
    color: #01DFD7;
    text-decoration: none;
}

.p_container2 .p_section2 .p_menu3{
    /* background-color: aliceblue; */
    position: relative;
    width: 680px;
    height: 290px;
    top: 40px;
}

.p_container2 .p_section2 .p_menu3 .p_movie{
    /* background-color: beige; */
    width: 30%;
    height: 290px;
    float: left;
    margin-right: 2%;
    box-shadow: 5px 5px 5px #424242;
    border-radius: 10px;
}

.p_container2 .p_section2 .p_menu3 .p_movie img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-left: 12px;
    margin-top: 10px;
}

.p_container2 .p_section2 .p_menu3 .p_movie p{
    margin: 5px 10px;
    overflow: hidden; /* 넘치는 내용을 감추기 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 마침표로 표시 */
}

.p_container2 .p_section2 .p_menu3 .p_movie .p_p{
    color: #01DFD7;
    overflow: hidden; /* 넘치는 내용을 감추기 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 마침표로 표시 */
}

.p_container2 .p_section2 .p_menu3 .p_movie button{
    background-color: #01DFD7;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}

.p_container2 .p_section2 .p_menu3 .p_movie a{
    text-decoration: none;
    color: #424242;
    transition-duration: 0.2s;
}

.p_container2 .p_section2 .p_menu3 .p_movie a:hover{
    text-decoration: none;
    color: white;
}

/* 섹션2 끝*/
/*--------------------------------------*/
/* 컨테이너2 끝 */

/* 컨테이너3 시작 */
/*--------------------------------------*/
.p_container3{
    /* background-color: whitesmoke; */
    position: relative;
    width: 1400px;
    height: 385px;
    bottom: 30px;
    left: 350px;
}

/* 섹션2 시작 */
.p_container3 .p_section2{
    /* background-color: aqua; */
    position: absolute;
    top: 20px;
    right: 0px;
    width: 80px;
    height: 30px;
    border: 1px solid #424242;
    border-radius: 10px;
}

.p_container3 .p_section2 a{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    font-size: 15px;
    color: #424242;
    text-decoration: none;
    transition-duration: 0.2s;
}

.p_container3 .p_section2 a:hover{
    text-decoration: none;
    color: #01DFD7;
}

.p_container3 .p_section2 i{
    position: absolute;
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    color: #424242;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
}
/* 섹션2 끝 */


/* 섹션3 시작 */
.p_container3 .p_section3 .table{
    /* background-color: bisque; */
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    top: 20px;
}

.p_container3 .p_section3 .table img{
    /* background-color: aquamarine; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.p_container3 .p_section3 .table .p_name1{
    position: absolute;
    top: 65px;
    left: 320px;
}

/* 섹션3 끝 */

/* 섹션4 시작 */
.p_container3 .p_bottom{
    /* background-color: antiquewhite; */
    position: absolute;
    left: 50%;
    top: 350px;
    width: 100%;
    transform: translate(-50%, 0);
}

.p_container3 .p_bottom ul{
    margin-right: 10px;
}

.p_container3 .p_bottom .p_previous{
    position: absolute;
    left: 2%;
}

.p_container3 .p_bottom .p_next{
    position: absolute;
    right: 2%;
}

.p_main_bottom{
    position: absolute;
    top: 395px;
    left: 50%;
    transform: translate(-50%, 0);
}
/* 섹션4 끝 */
/* 컨테이너3 끝  저장 */
/*---------------------------------------------------------------------*/
/* 관리자 페이지 메인 */



/* 관리자 페이지 등록 허가 ( register )*/
/*---------------------------------------------------------------------*/
.p_register_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1200px;
    height: 640px;
    top: 60px;
    left: 420px;
}

.p_register_container2 .p_section1{
    /* background-color: #01DFD7; */
    height: 50%;
}

.p_register_container2 .p_section1 .p_menu1{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_register_container2 .p_section1 .p_menu1 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_register_container2 .p_section1 .p_menu1 p{
    /* background-color: #E6E6E6; */
}

.p_register_container2 .p_section2{
    /* background-color:aquamarine; */
    height: 50%;
}


.p_register_container2 .p_section2 .p_menu2{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_register_container2 .p_section2 .p_menu2 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_register_container2 .p_section2 .p_menu2 p{
    /* background-color: #E6E6E6; */
}

.p_register_container2 button{
    background-color: #01DFD7;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.p_register_container2 button:hover{
    text-decoration: none;
    color: white;
}

.p_register_bottom{
    position: relative;
    top: 20px;
    left: 420px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 등록 허가 ( register )*/



/* 관리자 페이지 현황 확인 ( check )*/
/*---------------------------------------------------------------------*/
.p_check_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1300px;
    height: 650px;
    top: 50px;
    left: 380px;
}

.p_check_container2 .p_title{
    margin-bottom: 30px;
}

.p_check_container2 .p_box{
	/* background-color: #E6E6E6; */
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    border-radius: 15px;
    box-shadow: rgb(66 66 66) 5px 5px 5px;
}

.p_check_container2 .p_box img{
	/* background-color: black; */
    width: 180px;
    height: 150px;
    margin-top: 14px;
    margin-left: 18px;
    border-radius: 15px;
}

.p_check_container2 .p_box .p_list{
    /* background-color: bisque; */
    position: relative;
    bottom: 150px;
    left: 240px;
}

.p_check_container2 .p_box .p_list .p_flex{
    display: flex;
    justify-content: flex-start;
}

.p_check_container2 .p_box .p_list .p_p1{
    font-size: 20px;
    font-weight: bold;
}

.p_check_container2 .p_box .p_list .p_p2{
    font-size: 15px;
}

.p_check_container2 .p_box .p_list .p_p3{
    color: #01DFD7;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    bottom: 15px;
}

.p_check_container2 .p_box .p_list .p_p4{
    color: #01DFD7;
    position: relative;
    top: 5px;
    left: 10px;
}

.p_check_container2 .p_box .p_list .p_p5{
    color: #01DFD7;
    position: relative;
    top: 0px;
    left: 25px;
    background-color: #A9F5F2;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.p_check_container2 .p_box .p_list .p_p6{
    position: relative;
    bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.p_check_container2 .p_box .p_list .p_p7{
    position: relative;
    bottom: 12px;
    left: 10px;
}

.p_check_container2 .p_box .p_list .p_p8{
    color:#424242;
    position: relative;
    bottom: 20px;
    left: 35px;
    background-color:#E6E6E6;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.p_check_bottom{
    position: relative;
    top: 20px;
    left: 420px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 현황 확인 ( check )*/


/* 관리자 페이지 초청권 ( invitation )*/
/*---------------------------------------------------------------------*/
.p_invitation_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1300px;
    height: 550px;
    top: 120px;
    left: 380px;
}

.p_invitation_container2 .p_filter{
    position: absolute;
    right: 20px;
    top: 0px;
    width: 100px;
    height: 40px;
}

.p_invitation_container2 .p_filter button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
}

.p_invitation_container2 .p_filter button:hover{
    color: #01DFD7;
}

.p_invitation_container2 .p_filter span{
    position: relative;
    right: 15px;
}

.p_invitation_container2 .p_filter i{
    position: absolute;
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    color: #424242;
    top: 10px;
    right: 15px;
}

.p_invitation_container2 .p_section1{
    position: relative;
    top: 20px;
}

.p_invitation_container2 .p_section1 .table img{
    background-color: #01DFD7;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.p_invitation_container2 .p_section1 .table .p_name{
    position: relative;
    bottom: 27px;
    left: 40px;
}

.p_invitation_container2 .p_section1 .table button{
    background-color: #01DFD7;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-color: white;
    transition-duration: 0.2s;
}

.p_invitation_container2 .p_section1 .table button:hover{
    color:white;
}

.p_invitation_bottom{
    position: relative;
    top: 20px;
    left: 420px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 초청권 ( invitation ) */


/* 관리자 페이지 감상평 관리 ( review )*/
/*---------------------------------------------------------------------*/
.p_review_container2{
    /* background-color: antiquewhite; */
    position: relative;
    top: 60px;
    left: 370px;
    width: 1300px;
    height: 650px;
}

.p_review_container2 .p_title{
    /* background-color: #424242; */
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.p_review_container2 .p_title h3{
    font-weight: bold;
}

.p_review_container2 .p_title h4{
    color: red;
}

.p_review_container2 .p_section1{
    /* background-color: bisque; */
    top: 100px;
    left: 0px;
    width: 1300px;
    height: 550px;
}

.p_review_container2 .p_section1 .p_list{
    /* background-color: darkgoldenrod; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.p_review_container2 .p_section1 .p_list .p_frofile{
    /* background-color: cadetblue; */
    top: 0px;
    left: 0px;
    width: 70px;
    height: 100%;
}

.p_review_container2 .p_section1 .p_list .p_frofile img{
    /* background-color: black; */
    position: relative;
    top: 0px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.p_review_container2 .p_section1 .p_list .p_frofile p{
    position: relative;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10px;
    overflow: hidden; /* 넘치는 내용을 감추기 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 마침표로 표시 */
}

.p_review_container2 .p_section1 .p_score{
    /* background-color: brown; */
    position: relative;
    bottom: 60px;
    left: 85px;
    width: 70px;
    height: 100%;
    text-align: center;
}

.p_review_container2 .p_section1 .p_list .p_score span{
    /* color: #01DFD7; */
    font-size: 20px;
}

.p_review_container2 .p_section1 .p_list .p_coment{
    background-color: #01DFD7;
    position: relative;
    bottom: 120px;
    left: 170px;
    width: 1150px;
    height: 100%;
    line-height: 55px;
    border-radius: 15px;
}

.p_review_container2 .p_section1 .p_list .p_coment p{
    position: relative;
    width: 1000px;
    left: 20px;
    overflow: hidden; /* 넘치는 내용을 감추기 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 마침표로 표시 */
}

.p_review_container2 .p_section1 .p_list .p_delet{
    /* background-color: darkmagenta; */
    position: relative;
    bottom: 180px;
    left: 1230px;
    width: 70px;
    height: 100%;
    text-align: center;
    line-height: 60px;
}

.p_review_container2 .p_section1 .p_list .p_delet button{
    background-color: transparent;
    border: none;
    color: red;
}

.p_review_bottom{
    position: relative;
    top: 100px;
    left: 900px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 감상평 관리 ( review ) */


/* 관리자 페이지 펀딩 등록 삭제 ( update_delete ) */
/*---------------------------------------------------------------------*/
.p_update_delete_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1200px;
    height: 640px;
    top: 80px;
    left: 400px;
}

.p_update_delete_container2 .p_section1{
    /* background-color: #01DFD7; */
    height: 50%;
}

.p_update_delete_container2 .p_section1 .p_menu1{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_update_delete_container2 .p_section1 .p_menu1 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_update_delete_container2 .p_section1 .p_menu1 p{
    /* background-color: #E6E6E6; */
}

.p_update_delete_container2 .p_section2{
    /* background-color:aquamarine; */
    height: 50%;
}

.p_update_delete_container2 .p_section2 .p_menu2{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_update_delete_container2 .p_section2 .p_menu2 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_update_delete_container2 .p_section2 .p_menu2 p{
    /* background-color: #E6E6E6; */
}

.p_update_delete_container2 button{
    background-color: #01DFD7;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.p_update_delete_container2 button:hover{
    text-decoration: none;
    color: white;
}

.p_update_delete_container2 .p_section1 p{
    position: relative;
    top: 20px;
}

.p_update_delete_container2 .p_section1 button{
    position: relative;
    top: 20px;
}

.p_update_delete_container2 .p_section2 p{
    position: relative;
    top: 20px;
}

.p_update_delete_container2 .p_section2 button{
    position: relative;
    top: 20px;
}

.p_update_delete_container2 .p_button1{
    background-color: #01DFD7;
}

.p_update_delete_container2 .p_button2{
    background-color: #FE2E64;
}

.p_update_delete_bottom{
    position: relative;
    top: 100px;
    left: 820px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 펀딩 등록 삭제 ( update_delete ) */



/* 관리자 페이지 오프라인 기간 설정 ( playday ) */
/*---------------------------------------------------------------------*/
.p_playday_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1200px;
    height: 640px;
    top: 70px;
    left: 420px;
}

.p_playday_container2 .p_section1{
    /* background-color: #01DFD7; */
    height: 50%;
}

.p_playday_container2 .p_section1 .p_menu1{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_playday_container2 .p_section1 .p_menu1 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_playday_container2 .p_section1 .p_menu1 p{
    /* background-color: #E6E6E6; */
}

.p_playday_container2 .p_section2{
    /* background-color:aquamarine; */
    height: 50%;
}


.p_playday_container2 .p_section2 .p_menu2{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_playday_container2 .p_section2 .p_menu2 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_playday_container2 .p_section2 .p_menu2 p{
    /* background-color: #E6E6E6; */
}

.p_playday_container2 button{
    background-color: #01DFD7;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.p_playday_container2 button:hover{
    text-decoration: none;
    color: white;
}

.p_playday_bottom{
    position: relative;
    top: 100px;
    left: 840px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 오프라인 기간 설정 ( playday ) */



/* 관리자 페이지 채팅방 ( chatting ) */
/*---------------------------------------------------------------------*/
.p_chatting_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1200px;
    height: 640px;
    top: 60px;
    left: 420px;
}

.p_chatting_container2 .p_section1{
    /* background-color: #01DFD7; */
    height: 50%;
}

.p_chatting_container2 .p_section1 .p_menu1{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_chatting_container2 .p_section1 .p_menu1 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_chatting_container2 .p_section1 .p_menu1 .p_p1{
    /* background-color: yellow; */
    position: relative;
    top: 10px;
    left: 12px;
    font-weight: bold;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.p_chatting_container2 .p_section1 .p_menu1 .p_p2{
        /* background-color: yellow; */
        position: relative;
        top: 10px;
        left: 12px;
        font-weight: bold;
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #01DFD7;
}

.p_chatting_container2 .p_section2{
    /* background-color:aquamarine; */
    height: 50%;
}

.p_chatting_container2 .p_section2 .p_menu2{
    float: left;
    width: 23%;
    height: 300px;
    background-color: white;
    margin-right: 2%;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgb(66, 66, 66) 5px 5px 5px;
    border-radius: 10px;
}

.p_chatting_container2 .p_section2 .p_menu2 img{
    width: 30px;
    height: 50px;
    width: 200px;
    height: 160px;
    margin-top: 20px;
    border-radius: 15px;
}

.p_chatting_container2 .p_section2 .p_menu2 p{
    /* background-color: #E6E6E6; */
}

.p_chatting_container2 button{
    background-color: #01DFD7;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.p_chatting_container2 button:hover{
    text-decoration: none;
    color: white;
}

.p_chatting_bottom{
    position: relative;
    top: 90px;
    left: 835px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 채팅방 ( chatting ) */



/* 관리자 페이지 회원 관리 ( usermanagerment ) */
/*---------------------------------------------------------------------*/
.p_usermanagement_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1300px;
    height: 550px;
    top: 120px;
    left: 380px;
}

.p_usermanagement_container2 .p_filter{
    position: absolute;
    right: 20px;
    top: 0px;
    width: 100px;
    height: 40px;
}

.p_usermanagement_container2 .p_filter button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
}

.p_usermanagement_container2 .p_filter button:hover{
    color: #01DFD7;
}

.p_usermanagement_container2 .p_filter span{
    position: relative;
    right: 15px;
}

.p_usermanagement_container2 .p_filter i{
    position: absolute;
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    color: #424242;
    top: 10px;
    right: 15px;
}

.p_usermanagement_container2 .p_section1{
    position: relative;
    top: 20px;
}

.p_usermanagement_container2 .p_section1 .table img{
    background-color: #01DFD7;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.p_usermanagement_container2 .p_section1 .table .p_name{
    position: relative;
    bottom: 27px;
    left: 40px;
}

.p_usermanagement_container2 .p_section1 .table button{
    background-color: #01DFD7;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-color: white;
    transition-duration: 0.2s;
}

.p_usermanagement_container2 .p_section1 .table button:hover{
    color:white;
}

.p_usermanagement_bottom{
    position: relative;
    top: 20px;
    left: 420px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 회원 관리 ( usermanagerment ) */



/* 관리자 페이지 VIP 관리 ( vipmanagerment ) */
/*---------------------------------------------------------------------*/
.p_vipmanagement_container2{
    /* background-color: antiquewhite; */
    position: relative;
    width: 1300px;
    height: 550px;
    top: 120px;
    left: 380px;
}

.p_vipmanagement_container2 .p_filter{
    position: absolute;
    right: 20px;
    top: 0px;
    width: 100px;
    height: 40px;
}
   
.p_vipmanagement_container2 .p_filter button{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: transparent;
}

.p_vipmanagement_container2 .p_filter button:hover{
    color: #01DFD7;
}

.p_vipmanagement_container2 .p_filter span{
    position: relative;
    right: 15px;
}

.p_vipmanagement_container2 .p_filter i{
    position: absolute;
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    color: #424242;
    top: 10px;
    right: 15px;
}

.p_vipmanagement_container2 .p_section1{
    position: relative;
    top: 20px;
}

.p_vipmanagement_container2 .p_section1 .table img{
    background-color: #01DFD7;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.p_vipmanagement_container2 .p_section1 .table .p_name{
    position: relative;
    bottom: 27px;
    left: 40px;
}

.p_vipmanagement_container2 .p_section1 .table button{
    background-color: #01DFD7;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-color: white;
    transition-duration: 0.2s;
}

.p_vipmanagement_container2 .p_section1 .table button:hover{
    color:white;
}

.p_vipmanagement_bottom{
    position: relative;
    top: 20px;
    left: 420px;
}
/*---------------------------------------------------------------------*/
/* 관리자 페이지 VIP 관리 ( vipmanagerment ) 2023 12 07 작업중 ~ */

/* 공지사항 디테일 */
/*---------------------------------------------------------------------*/
.p_noticedetail_title{
    position: relative;
    top: 180px;
    left: 400px;
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
}

.p_noticedetail_img{
    position: relative;
    top: 200px;
    left: 400px;
}

.p_noticedetail_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.p_noticedetail_img p{
    position: relative;
    bottom: 80px;
    left: 120px;
    font-size: 20px;
    font-weight: bold;
}

.p_noticedetail_coment{
    position: relative;
    top: 170px;
    left: 400px;
}

.p_noticedetail_contnet{
    position: relative;
    top: 210px;
    left: 400px;
}

.p_noticedetail_contnet h3{
    font-size: 20px;
    font-weight: bold;
}

.p_noticedetail_contnet p{

}
/*---------------------------------------------------------------------*/
/* 공지사항 디테일 */

/*---------------------------------------------------------------------*/
/* 모달 스타일 */
 .p_modal {
     display: none; /* 모달 초기에는 숨김 상태 */
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 20px;
     background-color: #fff;
     border: 1px solid #ccc;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 1;
     width: 70%;
     height: 80%;
 }

.p_modal button{
    top: 10px;
    position: absolute;
    right: 15px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #01DFD7;
}

.p_modal button:hover{
    color:white;
}

/* 모달 백그라운드 스타일 */
.p_modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은 배경 */
    z-index: 1;
}

/*---------------------------------------------------------------------*/